.navbarContainer {
    display: flex;
    align-items: center;
    height: 96px;
    background-color: #FFFF;
    border-bottom: 1px solid #EEEEEE;
}

.logo {
    width: 8em;
}

.navbarItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.navbarLink {
    color: #323232;
    font-size: .9em;
    text-decoration: none;
}

.navbarLinkProfile {
    display: flex;
    align-items: center;
    gap: .5em;
    color: #076e4c;
    font-size: .9em;
    font-weight: 500;
    text-decoration: none;
}

.navbarLinkProfile .navbarLink {
    color: #076e4c;
}

.navbarLinksContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 0.5em;
}

.mobileNavbarItems {
    display: none;
}

.mobileNavbarBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-size: x-large;
    padding: 0.5em
}

.mobileNavbarBtns .navbarLink {
    cursor: pointer;
}

.drawer {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 3em;
    gap: 1em;
    background-color: #fff;
    font-size: xx-large;
}

.drawer .navbarLink {
    text-decoration: none;
}


@media screen and (max-width: 600px) {
    .navbarItems {
        display: none;
    }

    .mobileNavbarItems {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 1em;
    }
}