.cardContainer {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 1em;
    padding: .8em;
    height: 200px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.cardContainer img {
    min-width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 1em;
}

.cardContent{
    /* position: absolute; */
    padding: 0.5em;
    text-align: left;
}

.cardContent h4 {
    font-size: .8em;
    color: #444444;
}

.cardContent p {
    font-size: .6em;
    color: #323232;
}

/* .cardContainer::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 400px;
    background: linear-gradient(180deg, rgba(0,0,0,0), rgba(0, 0, 0, 0.8));
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
} */

.price {
    margin-top: .2em;
    font-size: 1em;
    color: #3a8843;
    
}

