* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

#root {
	font-size: x-large;
}

main {
	max-width: 1280px;
	margin: 0 auto;
	min-height: 100vh;
}

button {
	display: flex;
	gap: 0.5em;
	align-items: center;
	justify-content: center;
	width: fit-content;
	background-color: #004643;
    color: #faf0ca;
	border: none;
	border-radius: 0.5em;
	font-size: 0.6em;
	padding: 1em;
	cursor: pointer;
}

p {
	display: flex;
	align-items: center;
	gap: 0.5em;
}

h1 {
	color: #444444;
}